body {
    margin: auto;
    overflow: scroll;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #2F3235;
    padding-bottom: 15px;
    padding-top: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: auto;
    margin-right: 5px;
}

.left_panel {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 5px;
    background: #2F3235;
}

.center_elem {
    width: 60%;
    border: 1px solid;
    border-radius: 0px;
    overflow: scroll;
}

.left_Panel_List {
    height: 1000px;
}

.input_elem {
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.fButtonDiv {
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    background: #2F3235;
}

.sButtonDiv {

}

.btnGraph {
    color: white;
    background: #2F3235;

}

.btnAdd {
    color: white;
    background: #2F3235;

}

.right_panel_elem {
    width: 40%;
    border: 1px solid;
    border-radius: 0px;
    margin-left: 35px;
    overflow: scroll;

}

.select__list {
    list-style-type: none;
    padding: inherit;

}

li {;
    color: #939395;
    border-color: #50C68A;
    padding-top: 5px;
    list-style-type: none;

}



.listNameExamples span {
    cursor: pointer;
}

.active {
    display: block;
}

.right_elem_content {
    white-space: break-spaces;
}

.childEls {
    display: none;
}

.header_text {
    color: #939395;
    font-size: 27px;
}

.btn_download {
    text-align: center;
    background: white;
}

.items {
    cursor: pointer;
}